.overlay {
    width: 70%;
    display: none;
    margin-left: -10%;
    z-index:10000;
    min-height: 200px;
    border:1px solid #666;
    -moz-box-shadow:0 0 90px 5px #000;
    -webkit-box-shadow: 0 0 90px #000;
    background-color: white;
    padding: 2em;
}

.overlay .close {
    position:absolute;
    right:-15px;
    top:-15px;
    cursor:pointer;
    height:35px;
    width:35px;
    background-color: blue;
}

#container {
    width: 50%;
    margin-left: 25%;
}

.list {
    border: 1px;
    border-color: grey;
    border-style: solid;
    margin-bottom: 1em;
    padding: 1em;
}

.deprecated {
    color: red;
}